li.aluno-item {
  background: #FFF;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
  border-radius: 2px;
  padding: 20px;

}

li.aluno-item header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li.aluno-item header img {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

li.aluno-item header .user-info {
  margin-left: 10px;
}

.user-info strong {
  display: block;
  font-size: 16px;
  color: #333;
}

.user-info span {
  font-size: 13px;
  color: #999;
  margin-top: 2px;
}

li.aluno-item {
  color: #666;
  font-size: 14px;
  line-height: 20px;
}

li.aluno-item a {
  color: #4dff88;
  font-size: 14px;
  text-decoration: none;
}

li.aluno-item a:hover {
  color: #4dff88;
}

.endereco {
  width: 300px;
  background-color: #095;
  border-radius: 5px;
  padding: 5px;
}

.acao-sub {
  font: 14px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #095
}

.endereco-sub {
  font: 14px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #FFF
}

.user-info {

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

}

.header-content {
  display: flex;
  justify-content: space-between;
}

.icon {
  color: #095;
  font-size: 20px;
  cursor: pointer;
}

.icon:hover {
  color: #38da91;
  font-size: 25px;
  cursor: pointer;
}

.div-row {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.div-acoes {
  margin-top: 10px;
  width: 300px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}