main {
  flex: 1;
  margin-left: 20px;
}

main ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style: none;
  height: 250px;
}

@media (max-width: 650px) {
  main ul {
    grid-template-columns: 1fr;
  }
}

.filtro {
  width: 80%;
  height: 30px;
  border-color: #ffff;
  border-radius: 3px;
  padding: 5px;
}

.div-filtro {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.div-not-aluno {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
