.container-curso {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 350px;
  background-color: #095;
  border-radius: 15px;

}

.container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:  space-between;
}

.titulo {
  text-align: center;
  font-size: 50px;
  color: #095;
}


.img-curso {
  font-size: 150px;
}

.white {
  color: #ffffff;
}

.sub-titulo {
  margin-top: 5px;
}