
.menu {
  display: flex; 
  background-color: #095;
  flex-direction: row;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.link {
  color: #ffff;
  font: 40px large;
  text-decoration: none;
  font-family: sans; 
}

.link:hover {
  -webkit-text-stroke: 0.5px #004425; /* width and color */
  font-family: sans; 
  color: #ffffff;
  cursor: pointer;
}

.icon {
  margin-right: 10px;
}

.icon-student {
  color: #ffffff;
  font-size: 20px;
  margin-right: 5px;
}


.bt-graduacao {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  background-color: #004425;
  border-color: #004425;
  border: 2px;
  border-radius: 3px;
}

.bt-graduacao:hover {
  background-color: #3cb880;
  border-color: #3cb880;
  cursor: pointer;
}

.text-button {
  color: #ffff;
  font-family: sans; 
}